<div class="container">
  <h1>Web Mashup</h1><br>
  <h2>Get Fact by Date</h2>
  <form [formGroup]="dateFactForm" (ngSubmit)="onSubmitDate()">
    <div class="form-group">
      <label for="day">Day: </label>
      <input type="number" class="form-control" id="day" formControlName="day">
      <label for="month">Month: </label>
      <input type="number" class="form-control" id="month" formControlName="month">
    </div>
    <div class="w-100" style="text-align: center">
        <button type="submit" class="btn btn-primary float-left ml-5">Get Fact</button>
    </div>
  </form>
  <br><br>
  <div *ngIf="dateFact && dateFactYear">
    <h5>Fact: {{ dateFact }}, Year: {{ dateFactYear }}</h5>
  </div>
  <div *ngIf="errmsgsDate"><h5>Error: {{ errmsgsDate }}</h5></div>
  <br>
  <h4>OR</h4>
  <br>
  <h2>Get Fact by Year</h2>
  <form [formGroup]="yearFactForm" (ngSubmit)="onSubmitYear()">
    <div class="form-group">
      <label for="year">Year: </label>
      <input type="number" class="form-control" id="year" formControlName="year">
    </div>
    <div class="w-100" style="text-align: center">
        <button type="submit" class="btn btn-primary float-left ml-5">Get Fact</button>
    </div>
  </form>
  <br><br>
  <div *ngIf="yearFact"><h5>Fact: {{ yearFact }}</h5></div>
  <div *ngIf="yearFactDate"><h5>Date: {{ yearFactDate }}</h5></div>
  <div *ngIf="errmsgsYear"><h5>Error: {{ errmsgsYear }}</h5></div>
  <hr>
  <h1>JSON Web Token</h1><br>
  <h2>Generate Token</h2>
  <form [formGroup]="generateTokenForm" (ngSubmit)="onSubmitData()">
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <label for="name">Name: </label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <label for="password">Password: </label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="w-100" style="text-align: center">
        <button type="submit" class="btn btn-primary float-left ml-5">Get Token</button>
    </div>
  </form>
  <br><br>
  <div *ngIf="resultToken">
    <h5>Token: </h5>
    <textarea rows="2" cols="100" #text>{{ resultToken }}</textarea>
    <button (click)="copy(text)" class="btn btn-primary ml-5">Copy Token</button>
  </div>
  <div *ngIf="errmsgsData"><h5>Error: {{ errmsgsData }}</h5></div>

  <div *ngIf="resultToken">
    <h2>Verify Token</h2>
    <form [formGroup]="verifyTokenForm" (ngSubmit)="onSubmitToken()">
      <div class="form-group">
        <label for="token">Token: </label>
        <input type="text" class="form-control" id="token" formControlName="token">
      </div>
      <div class="w-100" style="text-align: center">
          <button type="submit" class="btn btn-primary float-left ml-5">Get Data</button>
      </div>
    </form>
    <br><br>
    <div *ngIf="resultEmail"><h5>Email: {{ resultEmail }}</h5></div>
    <div *ngIf="resultName"><h5>Name: {{ resultName }}</h5></div>
    <div *ngIf="resultPassword"><h5>Password: {{ resultPassword }}</h5></div>
    <div *ngIf="errmsgsToken"><h5>Error: {{ errmsgsToken }}</h5></div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->