<div class="container">
  <h2>Get Fact by Date</h2>
  <form [formGroup]="dateFactForm" (ngSubmit)="onSubmitDate()">
    <div class="form-group">
      <label for="day">Day: </label>
      <input type="number" class="form-control" id="day" formControlName="day">
      <label for="month">Month: </label>
      <input type="number" class="form-control" id="month" formControlName="month">
    </div>
    <div class="w-100" style="text-align: center">
        <button type="submit" class="btn btn-primary float-left ml-5">Get Fact</button>
    </div>
  </form>
  <br><br>
  <div *ngIf="dateFact && dateFactYear"><h5>Fact: {{ dateFact }}, Year: {{ dateFactYear }}</h5></div>
  <br>
  <h4>OR</h4>
  <br>
  <h2>Get Fact by Year</h2>
  <form [formGroup]="yearFactForm" (ngSubmit)="onSubmitYear()">
    <div class="form-group">
      <label for="year">Year: </label>
      <input type="number" class="form-control" id="year" formControlName="year">
    </div>
    <div class="w-100" style="text-align: center">
        <button type="submit" class="btn btn-primary float-left ml-5">Get Fact</button>
    </div>
  </form>
  <br><br>
  <div *ngIf="yearFact"><h5>Fact: {{ yearFact }}</h5></div>
  <div *ngIf="yearFactDate"><h5>Date: {{ yearFactDate }}</h5></div>
</div>

<!-- <router-outlet></router-outlet> -->